In [5]:
if 4>=5 :
    print('tt')
print('aa')

aa

In [30]:
if 3 ==2 :
    print('if')
    
    
elif 3==3 : 
    print('elseif')
else :
    print('dd')

TypeError: can only concatenate str (not "int") to str

In [20]:
a = '123456789'
b = list(a)

i= 0
while i < len(b):
    print(b[i])
    i += 1
    
print('end')

1
2
3
4
5
6
7
8
9
end

In [2]:
i = 1
sum = 0
while i <= 100:
    sum += i
    i += 1
    
print(sum)

5050

In [3]:
a = '123456789'
# b = list(a) 
# 문자열은 순회 가능 하기 때문에
# 굳이 리스트형으로 변경 필요 없음
for i in a:
    
    
    print(i, int(i) * 2)
    
print('end')

1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18
end

In [4]:
a = '12345'
len(a)

5

In [39]:
b = [1,3,4,5,6,7]
print(str(len(b)) + 'kim')


print(str(2 * 7))
type(str(2 * 7))

6kim
14

str

In [17]:
a = list(range(5, 105, 5))
print(a)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

# 1. 구구단 2 - 9 단 출력

In [45]:
a = list(range(2,10))
b = list(range(1,10))
print(a)
print(b)

[2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
for i in a :
    print('=== '+str(i)+'단 시작 ===')
    for j in b:
        print(str(i)+' * '+str(j)+' = '+str(i*j))

=== 2단 시작 ===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
=== 3단 시작 ===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
=== 4단 시작 ===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
=== 5단 시작 ===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
=== 6단 시작 ===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
=== 7단 시작 ===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
=== 8단 시작 ===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
=== 9단 시작 ===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

# 2의 배수 또는 11 배수

In [57]:
n = list(range(1,101))
for i in n:
    if i%2 == 0 or i%11 == 0 :
        print(i)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100

# 최대값 최소값

In [64]:
a = [22,1,3,4,7,98,21,55,87,97,19,20,45]
_max = a[0]
_min = a[0]
for i in a:
    if i > _max :
        _max = i
    if i < _min :
        _min = i
print(_max)
print(_min)

98
1

# 평균

In [70]:
b = [22,1,3,4,7,98,21,55,87,97,19,20,45]
sum = 0
for i in b :
    sum += i
print(sum // 13)

36