In [2]:
def add(x, y):
    n = x + y
    return n
    
add(1,3)

4

In [7]:
a = '나이는 {} 입니다'.format(34)
a = '나이는 {age} 입니다'.format(age=34)
print(a)

나이는 34 입니다

# 람다 함수

In [9]:
square = lambda x:x**2
square(5)

25

In [12]:
# n 이 짝수 인경우 
nums = list(range(1,101))
list(filter(lambda n:n%2==0, nums))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]